@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*:focus {
    outline: 0;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}


.top-nav {
	float: left;
	position: relative;
	left: 0px;
	width: 100%;
	height: 48px;
	background: #5a6b77;
}

	.top-nav > .left-menu {
		position: absolute;
		left: 0px;
		width: 240px;
		background: rgba(0,0,0,0.15);
		height: 100%;
	}
	
	.top-nav > .center-menu {
		position: absolute;
		left: 0px;
		width: 100%;
		text-align: center;
	}
	
		.center-menu > span {
			position: relative;
			height: 27px;
			top: 14px;
			padding: 10px;
		}
	
			.center-menu > span > a {
				position: relative;
				color: white;
				text-decoration: none;
			}

.nav {
	height: calc(100% - 48px);
	width: 180px;
	top: 48px;
	background: #6d808e;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	color: white;
}

	.nav > .tab {
		position: relative;
		float: left;
		width: 100%;
		font-size: 16px;
		/*background: #F89406;*/
		padding: 13px;
	}
	
		.nav > .tab:hover {
			cursor: pointer;
			background: #F9690E;
		}

	.nav > .classes-list {
		background: #253e5d;
    color: #6382a9;
		display: inline-block;
		position: relative;
		width: 100%;
	}

	.classes-list > .classes {
		position: relative;
		width: 100%;
	}
	
		.classes > .class-title {
			position: relative;
			width: calc(100% - 24px);
			padding: 10px;
			font-size: 14px;
		}
    
    .class-title.active-title {
      border-right: 3px solid #3e9fff;
      background: #1c324a;
    }
		
		.class-title:hover {
			cursor: pointer;
			color: #5298fc;
		}
		
		
		
    
.loading-overlay {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, .24);
}

.data-table-wrapper {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
	height: calc(100% - 48px);
	top: 48px;
	overflow: auto;
}

	.data-table-wrapper > .utility-header {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 48px;
		background: #f9fcff;
		border-bottom: 1px solid #ebebeb;
	}
	
		.utility-header > .action-button {
			font-size: 14px;
			margin: 0 10px 0 0;
			line-height: 18px;
			padding: 5px 8px;
			text-align: center;
			vertical-align: top;
			border: 1px solid #5298fc;
			color: #5298fc;
			transition: all .25s ease;
			position: relative;
			left: 10px;
			top: 10px;
		}
		
	.data-table-wrapper > .utility-footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 48px;
		background: #f9fcff;
		border-bottom: 1px solid #ebebeb;
	}
	
		.utility-footer > .server-response {
			font-size: 14px;
			margin: 0 10px 0 0;
			line-height: 18px;
			padding: 5px 8px;
			text-align: center;
			vertical-align: top;
			color: #5298fc;
			transition: all .25s ease;
			position: relative;
			left: 10px;
			top: 10px;
		}

	.data-table-wrapper > .table-wrapper {
		position: absolute;
		left: 0px;
		width: calc(100% - 70px);
		top: 48px;
		height: calc(100% - 166px);
		overflow: scroll;
    background: #1c324a;
    padding: 35px;
	}
		
		.table-wrapper > .data-table {
			position: relative;
			left: 0px;
			top: 0px;
			max-height: calc(100% - 96px);
      border-collapse: collapse;
		}
    
      thead tr {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        background: #1f3650;
      }
    
      th {
        border: 0;
        font-weight: bold;
      }
	
			th, td {
        position: relative;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 8px;
        color: #6382a9;
        font-size: 14px;
        text-align: left;
        border: 1px solid #273e5b;
        transition-duration: .26s;
			}
      
      td::after {
        position: relative;
        background: white;
        width: 10px;
        height: 10px;
      }
			
			.protected-field {
        background: #1f3650;
			}
			
			.active {
				/*border: 1px solid #17a4e5;
				box-shadow: rgba(23,164,229,0.7) 0 0 6px;*/
				z-index: 3;
			}
			
			.editable {
				background: #28415f;
        color: #83a2c9;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .4)
			}
			
			.data-table > thead > th:hover {
				
			}
		
		
		
		