@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}


.top-nav {
	float: left;
	position: relative;
	left: 0px;
	width: 100%;
	height: 48px;
	background: #5a6b77;
}

	.top-nav > .left-menu {
		position: absolute;
		left: 0px;
		width: 240px;
		background: rgba(0,0,0,0.15);
		height: 100%;
	}
	
	.top-nav > .center-menu {
		position: absolute;
		left: 0px;
		width: 100%;
		text-align: center;
	}
	
		.center-menu > span {
			position: relative;
			height: 27px;
			top: 14px;
			padding: 10px;
		}
	
			.center-menu > span > a {
				position: relative;
				color: white;
				text-decoration: none;
			}

.nav {
	height: calc(100% - 48px);
	width: 180px;
	top: 48px;
	background: #6d808e;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	color: white;
}

	.nav > .tab {
		position: relative;
		float: left;
		width: 100%;
		font-size: 16px;
		/*background: #F89406;*/
		padding: 9px;
	}
	
		.nav > .tab:hover {
			cursor: pointer;
			background: #F9690E;
		}

	.nav > .classes-list {
		background: #34434d;
		display: inline-block;
		position: relative;
		width: 100%;
	}

	.classes-list > .classes {
		position: relative;
		width: 100%;
	}
	
		.classes > .class-title {
			position: relative;
			width: 100%;
			padding: 10px;
			font-size: 14px;
		}
		
		.class-title:hover {
			cursor: pointer;
			color: #5298fc;
		}
		
		
		

.data-table-wrapper {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
	height: calc(100% - 48px);
	top: 48px;
	overflow: auto;
}

	.data-table-wrapper > .utility-header {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 48px;
		background: #f9fcff;
		border-bottom: 1px solid #ebebeb;
	}
	
		.utility-header > .action-button {
			font-size: 14px;
			margin: 0 10px 0 0;
			line-height: 18px;
			padding: 5px 8px;
			text-align: center;
			vertical-align: top;
			border: 1px solid #5298fc;
			color: #5298fc;
			transition: all .25s ease;
			position: relative;
			left: 10px;
			top: 10px;
		}
		
	.data-table-wrapper > .utility-footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 48px;
		background: #f9fcff;
		border-bottom: 1px solid #ebebeb;
	}
	
		.utility-footer > .server-response {
			font-size: 14px;
			margin: 0 10px 0 0;
			line-height: 18px;
			padding: 5px 8px;
			text-align: center;
			vertical-align: top;
			color: #5298fc;
			transition: all .25s ease;
			position: relative;
			left: 10px;
			top: 10px;
		}

	.data-table-wrapper > .table-wrapper {
		position: absolute;
		left: 0px;
		width: 100%;
		top: 48px;
		height: calc(100% - 96px);
		overflow: scroll;
	}
		
		.table-wrapper > .data-table {
			position: relative;
			left: 0px;
			top: 0px;
			background: #ddd;
			max-height: calc(100% - 96px);
		}
	
			th, td {
				position: relative;
				text-overflow: ellipsis;
				height: 16px;
				line-height: 16px;
				padding: 4px;
				border-right: 1px solid silver;
				border-left: 0;
				border-top: 0;
				border-bottom: 0;
				background: #f4f8fc;
				color: #444;
				font-weight: 500;
				font-size: 13px;
				text-shadow: rgba(255,255,255,0.7) 0 1px 0;
				text-align: left;
			}
			
			.protected-field {
				color: rgba(0, 0, 0, .5);
			}
			
			.active {
				background: white;
				border: 1px solid #17a4e5;
				box-shadow: rgba(23,164,229,0.7) 0 0 6px;
				z-index: 3;
			}
			
			.editable {
				background: #E4F1FE;
			}
			
			.data-table > thead > th:hover {
				
			}
		
		
		
		